body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 6px 0px 6px #555;
    border: 1px solid #999;
}

code {
    color: #336 !important;
    font-weight: bold;
}